# Build and deploy React app to Azure Static Web Apps

name: Build and deploy React app to Azure Static Web Apps

on:
  push:
    branches:
      - main
    paths:
      - 'learning-tutor-frontend/**'
  workflow_dispatch:

jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'

      - name: Install frontend dependencies
        run: |
          cd learning-tutor-frontend
          npm install

      - name: Build frontend
        run: |
          cd learning-tutor-frontend
          npm run build

      - name: Deploy to Azure Static Web Apps
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          app_location: "learning-tutor-frontend"
          api_location: ""
          output_location: "dist"
